<h1 mat-dialog-title class='dialog-title'>
  {{data.title}}
  <div class='dialog-subtitle-container'>
    <div class='dialog-subtitle'>
      {{data.type}}
    </div>
  </div>
</h1>
<div mat-dialog-content>
<form *ngIf='data.fields'>
  <div class='dialog-input' *ngFor='let field of data.fields'>
    <span class='dialog-input-name'>{{field.name}}</span><input value='{{field.value}}'>
  </div>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button class='dialog-submit'>
    <mat-icon color='white'>done</mat-icon>
  </button>
</div>
