<div class='class-grades' *ngIf='classData.grades'>
    <div class='class-gradebar' *ngIf='classData.grades'>
      <div
        class='gradebar-section'
        *ngFor="let grade of classData.grades"
        [ngStyle]='{
          "width": grade.percentage + "%",
          "background": grade.color
        }'
        >
        <div class='gradebar-info'><span>{{grade.type}} - {{grade.percentage}}%</span></div>
      </div>
    </div>
    <div class='class-grades-wrapper'>
      <div class='class-grades-title' *ngIf="this.classView === 'grades'">
        Grades
        <div>
          <button mat-button [matMenuTriggerFor]="gradesOptions" class='class-grades-options'>
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #gradesOptions="matMenu">
            <button mat-menu-item (click)='dataActions({"type": "grade type", "action": "create"}, classData.refString)'>Add Grade Type</button>
          </mat-menu>
        </div>
      </div>
      <div class='class-grade' *ngFor='let gradeType of classData.grades'>
        <div class='class-grade-title'>
          <span [ngStyle]='{"position": "relative", "z-index": 10}'>{{gradeType.name}}</span>
          <div class='class-grade-title-overlay' [ngStyle]='{"background":gradeType.color}'></div>
          <div>
            <button mat-button [matMenuTriggerFor]="gradesOptions" class='class-grades-options'>
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #gradesOptions="matMenu">
              <button mat-menu-item (click)='dataActions({"type": "assignment", "action": "create"}, gradeType.refString)'>Add Assignment</button>
              <button mat-menu-item (click)='dataActions({"type": "grade type", "action": "update", "data": gradeType}, gradeType.refString)'>Edit Grade Type</button>
            </mat-menu>
          </div>
        </div>
        <div class='class-assignment' *ngFor='let assignment of gradeType.assignments.data'
          >
          <div class='class-assignment-title'>
            {{assignment.name}}
          </div>
          <div class='class-assignment-datetime'>
            <div class='assignment-date'>{{assignment.date}}</div>
            <div class='assignment-time'>{{assignment.hours + ':' + assignment.minutes}}</div>
            <div class='assigment-AMPM'>{{assignment.AMPM}}</div>
            <div class='assignment-grade'>
              <input (keyup)='updateGrade($event, assignment.dbID, gradeType.refString)' class='assignment-grade-input' [value]='assignment.grade'/>
              <span class='percent-sign'>%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
