<div class='class-view'>
  <div class='class-header'>
    <div class='class-title' (click)='editClass()' *ngIf='classData'>
      {{classData.name}}
      <mat-icon class='class-edit-icon'>edit</mat-icon>
    </div>
      <mat-button-toggle-group class='class-nav' (valueChange)='changeView($event)'>
        <mat-button-toggle value="Grades" checked='true'>
          Grades
        </mat-button-toggle>
        <mat-button-toggle value="Chat">
          Chat
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  <app-grades [classData]='classData' [userID]='userID' *ngIf='classView; else chatView'></app-grades>
  <ng-template #chatView>
    <app-chat class='class-chat' [classID]='classData.dbID'></app-chat>
  </ng-template>
</div>
