<div id='navbar' class='navbar'>
  <div [ngStyle]='{"display": "flex"}'>
    <a class='navlink' [routerLink]="['/dashboard']">
          <mat-icon>home</mat-icon>
      </a>
    <div class='current-route'>
        <mat-menu #classNav="matMenu">
            <button mat-menu-item *ngFor='let class of classMenu'>{{class.name}}</button>
        </mat-menu>
      <a [matMenuTriggerFor]="classNav">{{route}}</a>
    </div>
  </div>
  <div class='nav-links'>
  <a class='navlink'>
    <mat-icon>event</mat-icon>
  </a>
  <a class='navlink'>
    <mat-icon>chat_bubble</mat-icon>
  </a>
  <a (click)='showuserOptions()' class='navlink'>
    <mat-icon>settings</mat-icon>
    <div *ngIf='userOptionsVisible' id='nav-useroptions' class='sub-menu'>
      <div class='sub-arrow'></div>
      <a >My Profile</a>
      <a [routerLink]="['/dashboard']">Dashboard</a>
      <a (click)='signOut()'>Sign Out</a>
    </div>
  </a>
  </div>

</div>
