
<div class='dashboard-container' *ngIf='myClasses'>
  <h1 *ngIf='userName' class='greeting'>Hello, {{userName[0]}}</h1>
  <div class='dash-wrapper'>
    <div class='dash-section'>
        <div class='dashboard-tab tab-title'>Upcoming Assignments</div>
    </div>
    <div class='dash-section'>
      <div class='dashboard-tab tab-title'>
        Courses</div>
      <div
        *ngFor="let class of myClasses | async"
        class='dashboard-tab'
        [routerLink]="['/classes', class.id]">
        <div class='class-name'>{{class.name}}</div>
        <div class='class-id'>{{class.id}}</div>
      </div>
    </div>
    <div class='dash-section'>
        <div class='dashboard-tab tab-title'>Notifications</div>
    </div>
  </div>
</div>
