/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: roboto;
  margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; max-height: 100vh; overflow: hidden;}

.mat-form-field-label-wrapper{
  text-transform: capitalize;
}

.mat-datepicker-toggle-default-icon{
  width: 1em !important;
}
